        $fcolor: rgb(247, 158, 158);
        .body {
            height: 1000px;
        }
        
        .main_wrapper {
            min-height: 100%;
            display: block;
        }
        
        .header_wrapper {
            width: 100vw;
            height: 100px;
        }
        
        .header_grid {
            display: grid;
            grid-template-columns: 15px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 3fr 1fr;
            grid-column-gap: 15px;
            column-gap: 15px;
            grid-row-gap: 5px;
            row-gap: 5px;
            height: 80px;
            border-bottom: 2px solid rgb(91, 91, 91);
            cursor: pointer;
            // background-image: image-url("1.jpg");
            // background-size: 100% 100%
        }
        
        #school_name {
            align-self: end;
            grid-column: 2/4;
            grid-row: 1/2;
            padding: 5px;
        }
        
        #school_name:hover {
            opacity: 0.5;
        }
        
        .header_nav {
            align-self: end;
            grid-column: 9/17;
            grid-row: 1/2;
            padding: 5px;
            display: flex;
            justify-content: space-around;
        }
        
        .head_nav {
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(149, 150, 150, 0.5);
        }
        
        .head_nav:hover {
            opacity: 0.5;
        }
        /* ユーザーログイン画面 */
        
        .user_admin_title_wrapper {
            width: 434px;
            height: 10vh;
            text-align: center;
            font-size: 30px;
            margin: 0 auto;
        }
        
        .user_admin_title {
            color: $fcolor;
            display: block;
            margin: 30px auto 0px;
            width: 434px;
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(149, 150, 150, 0.5);
        }
        
        .registration-main {
            width: 50vw;
            height: 380px;
            margin: 0 auto;
            padding-top: 10px;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            border-radius: 5%;
        }
        
        .registration-user-main {
            width: 50vw;
            height: 480px;
            margin: 0 auto;
            padding-top: 10px;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
        }
        
        .form_wrap {
            width: 40vw;
            height: 500px;
            margin: 10px auto;
            font-size: 20px;
        }
        
        .admin_form_wrap {
            width: 40vw;
            height: 450px;
            margin: 10px auto;
            font-size: 20px;
        }
        
        .selection_form_wrap {
            width: 40vw;
            height: 700px;
            margin: 10px auto;
            font-size: 20px;
        }
        
        .regi_form_wrap {
            width: 40vw;
            height: 500px;
            margin: 10px auto;
            font-size: 20px;
        }
        
        .field_wrapper {
            height: 300px;
            .field {
                height: 80px;
                margin: 30px auto;
            }
            .user1_field {
                height: 80px;
                margin-top: 20px;
            }
            .user2_field {
                height: 80px;
                margin: 10px auto 20px;
            }
        }
        
        .form_caption {
            height: 50px;
            margin-bottom: 10px;
            text-shadow: 2px 2px 4px rgba(149, 150, 150, 0.5);
            font-weight: 600
        }
        
        .form_text_wrap {
            margin-bottom: 10px;
        }
        
        .input_field {
            width: 40vw;
            height: 40px;
            padding: 10px 16px 8px;
            &:focus {
                background-color: #eee;
            }
        }
        
        .avatar_input_field {
            border: 1px solid;
            width: 75px;
            height: 45px;
            padding: 10px 16px 10px;
            &:hover {
                background-color: #eee;
            }
        }
        
        .btn_wrapper {
            margin-top: 30px;
            text-align: center;
        }
        
        .new_btn_wrapper {
            margin: 40px auto 40px;
            text-align: center;
        }
        
        .login_btn {
            background-color: white;
            text-shadow: 2px 2px 4px rgba(149, 150, 150, 0.5);
            color: black;
            padding: 10px 40px;
            margin: 5px auto 5px;
            font-weight: 600;
            cursor: pointer;
            transition: color 1s;
            border-radius: 20px;
            background: linear-gradient(70deg, rgb(238, 28, 143), rgb(235, 228, 28));
            box-shadow: 4px 5px 5px 0px;
            &:hover {
                background-color: black;
                color: white;
            }
        }
        
        .btn_wrapper {
            height: 60px;
            margin-bottom: 30px;
            padding-bottom: 20px;
        }
        
        .teacher_btn_wrapper {
            width: 300px;
            margin: 10px auto 10px;
            padding: 0 auto;
            text-align: center;
        }
        
        .email_login_btn {
            background-color: white;
            text-shadow: 2px 2px 4px rgba(149, 150, 150, 0.5);
            color: black;
            padding: 10px 40px;
            margin: 10px 0;
            font-weight: 600;
            cursor: pointer;
            transition: color 1s;
            border-radius: 20px;
            background: linear-gradient(70deg, rgb(238, 28, 143), rgb(235, 228, 28));
            box-shadow: 4px 5px 5px 0px;
            &:hover {
                background-color: black;
                color: white;
            }
        }
        
        .input_field {
            border: 1px solid;
            &#last_name {
                width: 150px;
            }
            &#first_name {
                width: 150px;
            }
        }
        
        .log_container {
            text-align: center;
        }
        
        #user_container {
            height: 750px;
        }
        
        #user_regi_container {
            position: relative;
            height: 1250px;
        }
        
        .regi_selection_wrap {
            width: 40vw;
            height: 800px;
            margin: 10px auto;
            font-size: 20px;
        }
        
        .regi_selection_form {
            width: 50vw;
            height: 1000px;
            margin: 0 auto;
            padding-top: 10px;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            border-radius: 5%;
        }
        
        .regi_new_form {
            width: 50vw;
            height: 280px;
            margin: 0 auto;
            padding-top: 10px;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            border-radius: 5%;
        }
        
        .sns_up_container {
            margin-top: 10px;
            margin-bottom: 20px;
            .sign_up_with {
                color: #444;
                font-size: 24px;
                display: flex;
                align-items: center;
                &:before,
                &:after {
                    content: "";
                    flex-grow: 1;
                    height: 1px;
                    background: #444;
                    display: block;
                }
                &:before {
                    margin-right: .4em;
                }
                &:after {
                    margin-left: .4em;
                }
            }
            .sign_up_btns {
                width: 150px;
                margin: 20px auto;
                text-align: center;
            }
        }
        
        .sign_up_container {
            margin-top: 20px;
            .sign_up_with {
                color: #444;
                font-size: 24px;
                display: flex;
                align-items: center;
                &:before,
                &:after {
                    content: "";
                    flex-grow: 1;
                    height: 1px;
                    background: #444;
                    display: block;
                }
                &:before {
                    margin-right: .4em;
                }
                &:after {
                    margin-left: .4em;
                }
            }
            .sign_up_btns {
                width: 150px;
                margin: 20px auto;
                text-align: center;
            }
        }
        
        .hidden {
            display: none;
        }
        
        .members {
            display: grid;
            grid-template-columns: 50px 50px 50px 50px 50px 50px;
            grid-template-rows: 20px 50px 50px;
            grid-column-gap: 15px;
            column-gap: 15px;
            grid-row-gap: 5px;
            row-gap: 5px;
            height: calc(100% - 270px);
            width: 390px;
            padding-left: 5px;
            overflow: ellipse;
        }
        
        .pagination {
            grid-column: 1/6;
            grid-row: 3/4;
            width: 390px;
            padding-left: 90px;
        }
        
        .member_avatar {
            width: 50px;
            height: 50px;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .member_image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: solid 2px rgb(244, 197, 87);
            &:hover {
                opacity: 0.5;
            }
        }